/*-- scss:defaults --*/

// Font styles

/*-- scss:rules --*/

.title
{
  font-family: "Fira sans";
  font-size: 3rem;
  font-weight: 500;
  line-height: 1em;
}

.subtitle
{
  font-family: "Tajawal";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
